<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/urls">Home</a></li>
      <li><a href="/urls/new">Add URL</a></li>
      <li>
        <form action="/login" method="POST">
          <input id="name" type="text" name="name" placeholder="your user name" style="width: 300px margin: 45px">
          <input type="submit" value="Login">
        </form>
      </li>
    </ul>
  </div>
</nav>