<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <title>TinyApp</title>
</head>
<body>
<% include ../partials/header %>
<h2>All URLs</h2>
<ul>
  <% Object.keys(urls).forEach(function(key,index){%>
    <li> <%= key%> -> <%= urls[key]%></li>
  <%});%>
</ul>
<% include ../partials/footer %>
</body>
</html>