<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
  <title>TinyApp All Existing URLs</title>
</head>
<body>
<%  include ../partials/_header  %>
<h2>All URLs</h2>
<ul>
  <% Object.keys(urls).forEach(function(key,index){%>
    <li> <%= key%> -> <a href="<%= urls[key].url%>"><%= urls[key].url%></a>
    </li>
  <%});%>
</ul>
<% include ../partials/_footer %>
</body>
</html>