<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
  <title>TinyApp</title>
</head>
<body>
<% include ../partials/_header %>
<p><%= shortURL %></p>
<p><%= longURL %></p>
<form action="/urls/<%= shortURL%>" method="POST" style="margin:150px;">
      <label for="longURL">Enter a new long URL for it:</label>
      <input id="longURL" type="text" name="longURL">
      <input type="submit" value="Update">
</form>
<% include ../partials/_footer %>
</body>
</html>