<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <title>TinyApp</title>
</head>
<body>
<% include ../partials/header %>
<p><%= shortURL %></p>
<p><%= longURL %></p>
<% include ../partials/footer %>
</body>
</html>